[Desktop Entry]
Name=Asistente Actualización
Name[es]=Asistente de Actualización
Comment=Actualiza a Canaima 3.0
Comment[es]=Actualiza a Canaima 3.0
Exec=/usr/share/asistente-actualizacion/initasist
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;
