#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Actualizador a Canaima 3.0
Name[es_VE]=Actualizador a Canaima 3.0
GenericName=Actualizador a Canaima 3.0
GenericName[es_VE]=Actualizador a Canaima 3.0
Comment=Actualizador a Canaima 3.0
Comment[es_VE]=Actualizador a Canaima 3.0
Exec=aa-inicio
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/asistente-actualizacion/imagenes/logo.svg
Categories=GNOME;GTK;System;
X-GNOME-FullName=Actualizador a Canaima 3.0
X-GNOME-FullName[es]=Actualizador a Canaima 3.0

